<div class="input-field col s12">
    <select class="browser-default" (change)="setImage()" [formControl]="image">
      <option value="nayeon.png">Nayeon</option>
      <option value="jeongyeon.png">Jeongyeon</option>
      <option value="momo.png">Momo</option>
      <option value="sana.png">Sana</option>
      <option value="mina.jpeg">Mina</option>
      <option value="jihyo.png">Jihyo</option>
      <option value="dahyun.jpg">Dahyun</option>
      <option value="chaeyoung.jpg">Chaeyoung</option>
      <option value="tzuyu.jpg">Tzuyu</option>
    </select>
    
</div>