
<div class="row">
    <form class="col s6 ">
        <div class="input-field col s12">
            <input id="Grados" type="number" class="validate">
            <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s12">
            <select class="browser-default">
              <option value="" disabled selected>Seleccione Tipo</option>
              <option value="celcius">Celcius</option>
              <option value="fahrenheit">Fahrenheit</option>
            </select>
            
        </div>
        <button class="btn waves-effect waves-red" type="submit" name="action">Graba
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
<app-grade-list></app-grade-list>