<div class="row">
        
        <div class="input-field col s12">
            <input id="grado" name="grado" type="number" class="validate"  [formControl]="numero">
            <label for="last_name">Grados</label>
        </div>
        <div class="input-field col s12">
            <select class="browser-default"  [formControl]="tipo">
              <option value="" disabled selected>Seleccione Tipo</option>
              <option value="celcius">Celcius</option>
              <option value="fahrenheit">Fahrenheit</option>
            </select>
            
        </div>
        <button class="btn waves-effect waves-red" type="submit" name="action" (click)="addNewItem()">Graba
            <i class="material-icons right">send</i>
        </button>
    
</div>
